<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to text analyzer . Enter your Text Below</h1>
    <form method="get" action="analayzer">

      <textarea name="text" style="height: 210px; width: 1325px;"></textarea><br>
      <input type="checkbox" name="punc">Punctuation<br>
      <input type="checkbox" name="upper">UpperCase <br>
      <input type="checkbox" name="extraspace">Extra Space Remover <br>
      <input type="checkbox" name="charcount">CharCount <br>
      <input type="submit" name="submit" />

</form>
</body>
</html>
